body {
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #a3f7b5;
}
.buttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-bottom: 600px;
}
#loadButton {
  width: 150px;
  height: 50px;
  background-color: #2f9c95;
  font-family: "Courier New", Courier, monospace;
  border-radius: 10px;
  color: #664147;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
}

.box {
  width: 200px;
  height: 200px;
  margin: 3px; /* Add space around the boxes */
  display: inline-flex; /* Display boxes inline */
}
h1 {
  text-align: center;
  background-color: #e5f9e0;
  font-family: "Courier New", Courier, monospace;
}
h2 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.box img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* the image will cover entire box */
  border-radius: 8px; /* to round corners */
}

.food {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.slide {
  width: 300px;
  height: 250px;
  position: absolute;
  transition: 1s;
}
.nav {
  text-align: center;
}
.nav button {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 5px;
  background-color: #40c9a2;
  border-radius: 10px;
}
.dropdown {
  margin-top: 20px;
  text-align: center;
}

#music {
  padding: 5px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 250px;
  background-color: #40c9a2;
  border: 2px solid black;
  border-radius: 10px;
}
.changeimage {
  width: 300px;
  height: 250px;
  margin: auto; /* Center the container horizontally */
}
.changeimage img {
  width: 100%;
  height: 100%;
}
img {
  border-radius: 10px; /* for all images */
}
